/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url(https://wallpapercave.com/wp/wp3234817.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for Form */
form {
    transform: translateX(100%);
    max-width: 400px;
    width: 100%; 
    background-color: rgb(12, 198, 105);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 1px 1px 14px 11px #000000;
}

/* Form Group */
div {
    margin-bottom: 15px;
}

/* Label Styling */
label {
    font-size: 16px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 5px;
    display: block;
}

/* Input Field Styling */
input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    font-size: 16px;
    color: #495057;
}

/* Input Field Focus Effect */
input[type="text"]:focus, select:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

/* Submit Button Styling */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

/* Submit Button Hover Effect */
button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsiveness */
@media (max-width: 576px) {
    form {
        padding: 15px;
    }
}

/* Error Message Styling */
.error {
    color: red;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: -10px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(219, 227, 223);
    padding: 40px;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

thead {
    background-color: #333;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #ddd;
}

td:last-child {
    text-align: center;
}
